<div class="form-dialog">
  <h2 mat-dialog-title>{{mode}} Invoice</h2>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Amount To Pay</mat-label>
        <input type="number" matInput formControlName="amountToPay">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="APPROVED">Approved</mat-option>
          <mat-option value="CANCELLED">Cancelled</mat-option>
          <mat-option value="FAILED">Failed</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Tips</mat-label>
        <input type="number" matInput formControlName="tips">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Payment Type</mat-label>
        <mat-select formControlName="paymentType">
          <mat-option value="CARD">Card</mat-option>
          <mat-option value="CASH">Cash</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Trip ID</mat-label>
        <input type="number" matInput formControlName="tripId">
      </mat-form-field>

    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="true" (click)="onCancel()">Cancel</button>
    <button
      (click)="onAdd()"
      [disabled]="form.invalid || form.pristine"
      color="primary"
      mat-dialog-close="true"
      mat-raised-button
    >Add
    </button>
  </mat-dialog-actions>
</div>

