<div class="form-dialog">
  <h2 mat-dialog-title>{{mode}} Location</h2>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Location Type</mat-label>
        <mat-select formControlName="location_type">
          <mat-option value="urban">Urban</mat-option>
          <mat-option value="rural">Rural</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Region</mat-label>
        <input type="text" matInput formControlName="region">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input type="text" matInput formControlName="city">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input type="text" matInput formControlName="address">
      </mat-form-field>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="true">Cancel</button>
    <button mat-raised-button color="primary" mat-dialog-close="true" [disabled]="form.invalid || form.pristine">Add
    </button>
  </mat-dialog-actions>
</div>

