<div class="form-dialog">
  <h2 mat-dialog-title>{{mode}} Location</h2>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Location Type</mat-label>
        <mat-select formControlName="locationType">
          <mat-option value="URBAN">Urban</mat-option>
          <mat-option value="RURAL">Rural</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>County</mat-label>
        <input type="text" matInput formControlName="county">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input type="text" matInput formControlName="city">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Street</mat-label>
        <input type="text" matInput formControlName="street">
      </mat-form-field>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="true" (click)="onCancel()">Cancel</button>
    <button
      mat-raised-button color="primary"
      mat-dialog-close="true"
      [disabled]="form.invalid || form.pristine"
      (click)="onAdd()"
    >
      Add
    </button>
  </mat-dialog-actions>
</div>

