<div class="container">
  <h2>Drivers</h2>
  <app-table
    *ngIf="drivers$"
    [dataSource]="drivers$"
    [dataColumns]="driverColumns"
    (addItem)="onAddDriver()"
    (editItem)="onEditDriver($event)"
    (deleteItem)="onDelete('Driver', $event)"
  ></app-table>
</div>

<div class="container">
  <h2>Clients</h2>
  <app-table
    *ngIf="clients$"
    [dataSource]="clients$"
    [dataColumns]="clientColumns"
    (addItem)="onAddClient()"
    (editItem)="onEditClient($event)"
    (deleteItem)="onDelete('Client', $event)"
  ></app-table>
</div>

<div class="container">
  <h2>Locations</h2>
  <app-table
    *ngIf="locations$"
    [dataSource]="locations$"
    [dataColumns]="locationColumns"
    (addItem)="onAddLocation()"
    (editItem)="onEditLocation($event)"
    (deleteItem)="onDelete('Location', $event)"
  ></app-table>
</div>

<div class="container">
  <h2>Trips</h2>
  <app-table
    *ngIf="trips$"
    [dataSource]="trips$"
    [dataColumns]="tripColumns"
    (addItem)="onAddTrip()"
    (editItem)="onEditLocation($event)"
    (deleteItem)="onDelete('Trip', $event)"
  ></app-table>
</div>

<div class="container">
  <h2>Invoices</h2>
  <app-table
    *ngIf="invoices$"
    [dataSource]="invoices$"
    [dataColumns]="invoiceColumns"
    (addItem)="onAddInvoice()"
    (editItem)="onEditInvoice($event)"
    (deleteItem)="onDelete('Invoice', $event)"
  ></app-table>
</div>



