.trips-table {

  tr.example-detail-row {
    height: 0;
  }
  tr.example-element-row {
    cursor: pointer;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .detail-header {
    border-bottom: 1px solid grey;
    margin: 0 10px;
  }

  .example-element-detail {
    overflow: hidden;
    display: flex;

    .detail {
      flex: 1 1 0;
      padding: 10px;


    }
  }
}
