<div class="form-dialog">
  <h2 mat-dialog-title>{{mode}} Driver</h2>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput formControlName="lastName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input type="text" matInput formControlName="firstName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Car Plates</mat-label>
        <input type="text" matInput formControlName="carPlates">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Rating</mat-label>
        <input type="number" matInput formControlName="rating">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input type="text" matInput formControlName="phoneNumber">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Driver Type</mat-label>
        <mat-select formControlName="driverType">
          <mat-option value="PET">Pet</mat-option>
          <mat-option value="PREMIUM">Premium</mat-option>
          <mat-option value="SELECT">Select</mat-option>
          <mat-option value="COMFORT">Comfort</mat-option>
          <mat-option value="XL">XL</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="true" (click)="onCancel()">Cancel</button>
    <button
      (click)="onAdd()"
      [disabled]="form.invalid || form.pristine"
      color="primary"
      mat-dialog-close="true"
      mat-raised-button
    >Add
    </button>
  </mat-dialog-actions>
</div>
